body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  text-align: center;
  background: radial-gradient(
    ellipse at center,
    rgba(235, 233, 249, 1) 0%,
    rgba(216, 208, 239, 1) 40%,
    rgba(206, 199, 236, 1) 51%,
    rgba(193, 191, 234, 1) 100%
  );
  border-radius: 2.5rem;
  width: 250px;
  padding: 2rem;
  box-shadow: 5px 5px 10px gray;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}

button {
  font-size: 1rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 0.3rem;
}

button:hover {
  background-color: black;
  border-color: black;
  color: white;
}
